@font-face {
  font-family: 'SF Pro Display 400';
  src: url("../myfonts/sf-pro-display-400.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Display 500';
  src: url("../myfonts/sf-pro-display-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Display 600';
  src: url("../myfonts/sf-pro-display-600.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* Reset code starts */
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Bengali 400', sans-serif;
  background-color: white;
  margin: 2rem;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid black;
}

@media (max-width: 24em) {
  body {
    margin: 1.2rem;
  }
}
/* Reset code ends */
::-moz-selection {
  background-color: black;
  color: white;
}
::selection {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .row .col {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.4rem;
          column-gap: 2.4rem;
}

@media (max-width: 60em) {
  .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .row .col {
    width: 100%;
  }
}
#product-details .container .row {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2.4rem;
          column-gap: 2.4rem;
}
#product-details .container .row .col {
  width: 50%;
  margin: 0 auto;
}
#product-details .container .row .col--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 3.2rem;
  padding: 2.4rem;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

@media (max-width: 86em) {
  #product-details .container .row {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.4rem;
  }
  #product-details .container .row .col {
    width: 70%;
  }
}
@media (max-width: 48em) {
  #product-details .container .row {
    width: 100%;
  }
  #product-details .container .row .col {
    width: 96%;
  }
}
@media (max-width: 34em) {
  #product-details .container .row .col--2 {
    padding: 1.6rem;
  }
}
.imgslider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}
.imgslider__group {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
}
.imgslider__item {
  width: 8rem;
  height: 8rem;
  background-color: #ebebeb;
  padding: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.imgslider__item:hover {
  background-color: #d1d1d1;
}
.imgslider__item--overlay {
  position: relative;
  overflow: hidden;
}
.imgslider__item--overlay::before {
  content: '';
  clear: both;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #141414;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
}
.imgslider__thumbnail {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.imgslider__main {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12rem 2rem;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.imgslider__large {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.imgslider__tag {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 1.6rem;
  border-radius: 2rem;
  border: 1px solid #37b24d;
  position: absolute;
  top: 3%;
  left: 4%;
  font-size: 1.4rem;
  font-family: "SF Pro Display 500";
  color: #37b24d;
}
.imgslider__icon {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.imgslider__arrows {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}
.imgslider__arrow {
  color: #d1d1d1;
  font-size: 1.4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.imgslider__arrow:hover {
  border: 2px solid black;
  color: black;
}

@media (max-width: 86em) {
  .imgslider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.2rem;
  }
  .imgslider__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 1.2rem;
            column-gap: 1.2rem;
  }
  .imgslider__main {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
}
@media (max-width: 48em) {
  .imgslider__item {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 56.25%;
  }

  .imgslider__main {
    padding: 8rem 1rem;
  }
  .imgslider__tag {
    padding: 6px 1.2rem;
  }
  .imgslider__item {
    width: 6rem;
    height: 6rem;
  }
}
.infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}
.infobox__icon {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infobox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
.infobox__text {
  font-size: 1.4rem;
  font-family: "SF Pro Display 500";
}
.infobox__link:link, .infobox__link:visited {
  font-family: "SF Pro Display 500";
  font-size: 1.4rem;
  text-decoration: underline;
  color: #6b6b6b;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2rem;
}
.textbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.2rem;
}
.textbox__title {
  color: black;
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: "SF Pro Display 600";
}
.textbox__lead {
  color: #6b6b6b;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "SF Pro Display 400";
}
.textbox__link:link, .textbox__link:visited {
  color: black;
  text-decoration: underline;
  font-size: 1.4rem;
  font-family: "SF Pro Display 600";
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}
.pricing__title {
  font-family: "SF Pro Display 600";
  font-size: 1.6rem;
}
.pricing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
.pricing__regular {
  color: #6b6b6b;
  font-family: "SF Pro Display 400";
}
.pricing__offered {
  color: #6b6b6b;
  font-family: "SF Pro Display 600";
}
.pricing__regular, .pricing__slash, .pricing__offered {
  font-size: 2rem;
  color: black;
}
.pricing__info {
  font-family: "SF Pro Display 500";
  font-size: 2rem;
  color: #f03e3e;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
}
.tag__title {
  font-family: "SF Pro Display 400";
  font-size: 1.6rem;
}
.tag__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.tag__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
}
.tag__radio {
  display: none;
}
.tag__radio:checked + .tag__label {
  background-color: whitesmoke;
  border: 2px solid black;
}
.tag__label {
  padding: 6px 1.2rem;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "SF Pro Display 400";
  color: black;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tag__label:hover {
  border: 2px solid black;
  background-color: whitesmoke;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.quantity__title {
  font-family: "SF Pro Display 500";
  font-size: 1.6rem;
}
.quantity__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  border: 2px solid #ebebeb;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 6px;
  border-radius: 3.2rem;
}
.quantity__link:link, .quantity__link:visited {
  color: black;
}
.quantity__number {
  font-size: 1.6rem;
  font-family: "SF Pro Display 400";
}
.quantity__minus, .quantity__plus {
  font-size: 1.4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ebebeb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*

.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;

    box-sizing: border-box;
    &--texttype {
      background-color: $primary-dark-color;
      color: $main-light-color;
      padding: 1.2rem 2.4rem;
      border-radius: 4px;
      border: 2px solid $primary-dark-color;

      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $main-light-color;
        border: 2px solid $primary-dark-color;
        color: $primary-dark-color;
      }
    }
    &--icontype {
      background-color: $main-light-color;
      padding: 1.2rem;
      border: 2px solid $primary-light-color;
      border-radius: 4px;
      &:hover {
        border: 2px solid $primary-dark-color;
      }
    }
  }
  &__text {
    font-family: $primary-typeface-medium;
    font-size: 1.6rem;
  }
  &__icon {
    font-size: 2rem;
    &--texttype {
    }
    &--icontype {
    }
  }
}

@media (max-width: 30em) {
  // 480px / 16px = 30em
  .btn {
    &__item {
      &--texttype {
        padding: 0.8rem 1.2rem;
        width: 100%;
      }
    }
  }
}

*/
.btn {
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 8px;
}
.btn__item {
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn__item:not(:first-child) {
  background-color: transparent;
  color: black;
  border: 2px solid #ebebeb;
}
.btn__item:not(:first-child):hover {
  border: 2px solid black;
}
.btn__item:not(:first-child):hover .btn__icon {
  color: black;
}
.btn__item--1 {
  font-family: "SF Pro Display 500";
  background-color: black;
  color: white;
  padding: 1rem 1.6rem;
}
.btn__item--1:hover {
  background-color: #6b6b6b;
}
.btn__icon {
  font-size: 2rem;
  color: #d1d1d1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 86em) {
  .btn {
    width: 70%;
  }
}
@media (max-width: 34em) {
  .btn {
    width: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .btn__item--1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
  }
  .btn__item--2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .btn__item--3 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
  .btn__item--4 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
  }
}
.accordion__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.2rem;
}
.accordion__item {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.accordion__radio, .accordion__content {
  display: none;
}
.accordion__radio:checked ~ .accordion__content {
  display: block;
}
.accordion__radio:checked ~ .accordion__label {
  background-color: whitesmoke;
}
.accordion__radio:checked ~ .accordion__label .accordion__icon {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.accordion__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion__text {
  font-family: "SF Pro Display 600";
  font-size: 1.8rem;
}
.accordion__icon {
  font-size: 1.6rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion__box {
  padding: 2rem 0;
}

.iconbox:not(:first-child) {
  padding-top: 2rem;
}
.iconbox:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2rem;
}
.iconbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2rem;
}
.iconbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
}
.iconbox__title {
  font-size: 1.6rem;
  font-family: "SF Pro Display 400";
}
.iconbox__info {
  font-size: 1.4rem;
  font-family: "SF Pro Display 400";
  color: #6b6b6b;
}
.iconbox__link:link, .iconbox__link:visited {
  color: #1c7ed6;
  font-family: "SF Pro Display 400";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}
.iconbox__icon {
  font-size: 1.4rem;
}
.iconbox__text {
  font-size: 1.4rem;
  font-family: "SF Pro Display 400";
  text-decoration: underline;
}

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
.ratings__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ratings__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2px;
          column-gap: 2px;
}
.ratings__icon {
  color: #f03e3e;
  font-size: 1.2rem;
}
.ratings__info {
  width: 100%;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ratings__avg--1 {
  font-family: "SF Pro Display 500";
  color: #6b6b6b;
}
.ratings__avg--2 {
  font-family: "SF Pro Display 600";
}
.ratings__btn {
  border: none;
  background-color: transparent;
  font-family: "SF Pro Display 600";
  text-decoration: underline;
  cursor: pointer;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
  padding-top: 2rem;
}
.reviews__item:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2rem;
}
.reviews__author {
  font-size: 1.5rem;
  font-family: "SF Pro Display 600";
}
.reviews__quote {
  font-size: 1.5rem;
  font-family: "SF Pro Display 400";
  line-height: 1.6;
  font-style: italic;
}
.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2px;
          column-gap: 2px;
}
.reviews__icon {
  font-size: 1.2rem;
  color: #f03e3e;
}
.reviews__info {
  font-size: 1.2rem;
  font-family: "SF Pro Display 400";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
.reviews__number {
  font-size: 1.4rem;
}

.infolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
.infolist__lead {
  font-size: 1.5rem;
  font-family: "SF Pro Display 400";
  line-height: 1.6;
}
.infolist__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.6rem;
}
.infolist__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.infolist__title {
  font-size: 1.6rem;
  font-family: "SF Pro Display 500";
  line-height: 1.6;
}
.infolist__item {
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}
.infolist__icon {
  font-size: 1.4rem;
}
.infolist__icon--pros {
  color: #37b24d;
}
.infolist__icon--cons {
  color: #f03e3e;
}
.infolist__text {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "SF Pro Display 400";
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}
.search__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ebebeb;
  padding-left: 1.6rem;
  border-radius: 5rem;
}
.search__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}
.search__input {
  width: 100%;
  border: none;
}
.search__menu {
  position: relative;
}
.search__menu.search__menu--show .search__list {
  display: block;
}
.search__menu.search__menu--show .search__icon--dropdown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.search__menu.search__menu--show .search__icon--dropdown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.search__list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 4.8rem;
  left: 0;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 2px solid #ebebeb;
  overflow: hidden;
}
.search__btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.search__btn--select {
  width: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1.6rem;
  background-color: whitesmoke;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.search__btn--active {
  background-color: red;
}
.search__btn--voice {
  width: 4.8rem;
  height: 4.8rem;
  background-color: whitesmoke;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.search__btn--item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: transparent;
}
.search__btn--item:hover {
  background-color: white;
}
.search__content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
}
.search__title {
  font-size: 1.4rem;
  color: black;
  font-family: "SF Pro Display 400";
}
.search__subtitle {
  font-size: 1.2rem;
  color: #6b6b6b;
  font-family: "SF Pro Display 400";
}
.search__text {
  font-size: 1.6rem;
  font-family: "SF Pro Display 500";
  color: #6b6b6b;
}
.search__icon--dropdown {
  font-size: 1.2rem;
  color: #6b6b6b;
}
.search__icon--magnifying {
  font-size: 1.6rem;
  color: #6b6b6b;
}
.search__icon--microphone {
  font-size: 2rem;
}
.search__icon--item {
  font-size: 1.6rem;
  color: black;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.4rem;
          column-gap: 2.4rem;
}
.user__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  cursor: pointer;
}
.user__icon, .user__text {
  font-size: 1.6rem;
}
.user__text {
  font-family: "SF Pro Display 500";
}

/*# sourceMappingURL=style.css.map */